.my-card{
  margin-bottom: 5px;
}

.no-radius{
  border-radius: 0px;
}

a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: darkred;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

button{
 background-color: darkcyan;
}


form {
    background-color: white;
    margin-bottom: 10px;
    border-radius: 5px;
}
