#login-button, #register-button{
  width: 150px;
  height: 50px;
  background-color: brown;
  border-radius: 0px;
}

#login-modal-button, #close-modal-button{
  border-radius: 0px;
}

#buttons{
  padding: 100px 20px;
  background-color: lightcoral;
  background: url("../../../assets/teal-pentagonal-background-flat.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
